[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MultBiplotR"]
	path = MultBiplotR
	url = https://github.com/villardon/multbiplotr
